client/node_modules
.env
.env.*
client/.env
client/.env.*
XCropAIService/.env
XCropAIService/.env.*
XCropAIService/venv
XCropAIService/__pycache__
XCropAIService/outputs
XCropAIService/api/__pycache__
XCropAIService/services/__pycache__
XCropAIService/core/__pycache__
XCropAIService/vision/__pycache__
XCropAIService/models/