# Dependencies
client/node_modules
XCropAIService/venv

# Environment Secrets
.env
.env.*
client/.env
XCropAIService/.env

# Python Cache & Outputs
**/__pycache__/
XCropAIService/outputs/
XCropAIService/app/test/

# Large Model Files (Keep your repo light for GitHub/IEEE)
XCropAIService/models/*.pt
XCropAIService/models/*.onnx